---
import Layout from '../layouts/Layout.astro';
import Timeline from '../layouts/Timeline.astro';
import Projects from '../layouts/Projects.astro';
import Home from '../layouts/Home.astro';
import Experiments from '../layouts/Experiments.astro';
import ContactForm from '../components/ContactForm.astro'
---

<Layout title="Portfolio Gianluca Vespe">
	<Home/>

	<section class="mt-36 max-2xl:mt-64">
		<h2 class="text-center text-5xl font-semibold mb-5">Experience</h2>
		<Timeline/>
	</section>

	<section class="mt-24 pt-2 pb-8 bg-zinc-950 bg-opacity-40">
		<h2 class="text-center text-5xl font-semibold mb-5 py-4">Projects</h2>
		<Projects/>
	</section>

	<section class="mt-24 pt-2 h-fit">
		<h2 class="text-center text-5xl font-semibold mb-5 py-4">Experiments</h2>
		<Experiments/>
	</section>

	<section class="mt-24 pt-2" id="contact">
		<ContactForm/>
	</section>
</Layout>


