---
import jsonCard from "../../src/assets/jsonCard.json"

interface Props {
	name: string;
	birthday: string;
	rol: string;
}

---


<div class="mockup-code">
  <span>{</span>
    <span>"name"</span>: "Gianluca Vespe",
    "birthday": "2004-09-04",
    "rol": "Software Developer",
    "other_information": {
      "skills": ["C#", "Angular", "TypeScript", "SQL"],
      "hobbies": ["Music", "Reading", "Series"],
      "education": [
          {
              "degree": "Informatic Engineer Degree",
              "institution": "Universidad Nacional Arturo Jauretche",
              "date": "2024-present"
          },
          {
              "degree": "Technical Degree in Programming",
              "institution": "EEST N°7 \"Jose hernandez\"",
              "date": "2020-2023"
          }
      ]
    }
  }
</div>


