---
import { PresentationJson } from '../components/PresentationJson.jsx'
import NavActions from '../components/NavActions.astro'
---

<section id="home" class="h-[100vh] flex flex-wrap items-center justify-evenly max-2xl:flex-col">
    <article class="flex flex-col">
        <div class="flex flex-col">
            <span id="title" class="leading-[5rem] font-semibold bg-gradient-to-r from-indigo-700 to-red-600 text-6xl text-transparent bg-clip-text max-md:text-5xl max-md:leading-[5rem] max-[340px]:leading-[3rem] max-[500px]:text-[10vw] animate__animated animate__fadeInLeft animate__faster">Gianluca Vespe</span>
            <span id="subtitle" class="text-5xl max-md:text-4xl max-[500px]:text-[7vw] animate__animated animate__fadeInLeft animate__fast"><span class="text-amber-600 font-semibold">The</span> <span class="underline font-light font-mono">&lt;software developer/&gt;</span></span>
        </div>
        <span class="animate__animated animate__fadeInLeft mt-5"><NavActions w='12'/></span>
    </article>
    <PresentationJson client:load/>
</section>

<style>
    article{
        animation: toNavAnimation linear both;
        animation-range: 20vh 40vh;
        animation-timeline: scroll(block root);
    }

    @keyframes toNavAnimation {
        from{
            opacity: 1;
        }
        to{
            opacity: 0;
            visibility: hidden;
        }
    }
</style>