---
interface Props {
	title: string;
}

const { title } = Astro.props;
import {BackgroundEffect} from '../components/BackgroundEffect.jsx'
import Nav from '../components/Nav.astro';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="keywords" content="Portfolio, Developer, Software developer, dev, Gianluca Vespe, Gianluca, Vespe, Fullstack">
		<meta name="description" content="The Software Developer portfolio of Gianluca Vespe" />
		<meta name="author" content="Gianluca Vespe">
		<meta name="viewport" content="width=device-width" />
		<meta property="og:image" content="/favicon.svg" />
		<link rel="icon" type="image/svg+xml" href="https://gianluca-v.github.io/favicon.svg" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="relative bg-base-100 z-0" >
		<Nav/>
		<slot />
		<BackgroundEffect client:load/>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		position:relative;
		scroll-behavior: smooth;
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}
	body{
		height: 100%;
		overflow-x: hidden;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	svg{
		max-height: 100%;
		max-width: 100%;
	}
	#backgroundEffect{
        position: fixed;
        width: 25vw;
        height: 50vh;
		transform: translate(-50%,-50%);
		overflow: hidden;
        /*background: radial-gradient(circle, #7509794d 0%, #ffffff00 70%);*/
        z-index: -1;
		transition: left 0.125s linear, top 0.125s linear, opacity .5s linear;
    }
</style>
